# Server
PORT=8080

# Blockchain
RPC_URL=http://127.0.0.1:8545/
CONTRACT_LAND_REGISTRY=0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512
CONTRACT_LAND_TOKEN=0x5FbDB2315678afecb367f032d93F642f64180aa3
SYNC_FROM_BLOCK=0

# Firebase
FIREBASE_PROJECT_ID=landguard-60255
# Path to service account JSON on this machine
GOOGLE_APPLICATION_CREDENTIALS="path"
